[Desktop Entry]
Name=AnyDesk
GenericName=AnyDesk
X-GNOME-FullName=AnyDesk
Exec=anydesk %u
Icon=com.anydesk.Anydesk
Terminal=false
TryExec=anydesk
Type=Application
Categories=Network;GTK;
MimeType=x-scheme-handler/anydesk;
StartupWMClass=anydesk
